<!doctype html> 
<html> 
    <head> 
        <title>{{title}}</title>
        {{#each javascriptSources}}
            <script src={{this}}></script>
        {{/each}}
    </head>

    <body>
        {{{ body }}}
    </body>
</html>